

// menu colors
$c-header: #000;
$c-button: #000;
$c-wind-dir-circle: #a6d9e3;

// board colors
$c-board-bg: #492626;
$c-tile: #2659b0;
$c-tile-border: #000;

// player colors
$c-pink: #ec4db4;
$c-green: #5dcc61;
$c-lightblue: #50bfe7;
$c-darkblue: #5d4dd8;
$c-yellow: #ecdd16;
$c-purple: #a011ba;

